# Python
backend/venv/
__pycache__/
*.pyc

# Uploads
backend/app/uploads/
backend/app/clips/
backend/app/subtitles/

# Node
frontend/node_modules/

# Next
frontend/.next/
frontend/out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# Cache
.cache/

*.mp4
backend/downloads/
backend/app/clips/

cookies.txt
backend/cookies.txt